*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: #365e5e;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: sans-serif;
}
.container{
    width: 800px;
    background-color: #388787;
    border-radius: 50px;
}
.container input{
    border-radius: 100px;
    padding: 20px 40px;
    text-align: center;
    border: 2px solid white;
    margin: 20px 0;
    background: #1ae2e2;
    color: white;
    font-size: 18px;
}
h1{
    background-color: red;
    grid-template-columns: 1fr 1fr;
}
.container input:hover{
    border: 2px solid rgb(0, 255, 60);
}
.detail{
    width: 750px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.detail p{
    border: 2px solid rgb(0, 0, 0);
    background:  #1ae2e2;
    color: rgb(11, 11, 11);
    padding: 20px 0;
    font-size: 16px;
    font-weight: 800;
    border-radius: 50px;
    margin: 10px 0;
}
ol{
    width: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}
.lista{
    width: 250px;
    padding: 20px 0;
    color: white;
    text-align: center;
    background:  #1ae2e2;
    list-style: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    margin: 10px 0;
}